.DS_Store
/assets/Thumbnails/
/node_modules/
/wip/

/assets/Textures/players/coral-cap-pirates/
/assets/Textures/players/leviathan/

# production
/build
/lib

# local build for development
/dev
ttpgcfg.local.json
