.DS_Store
/assets/Thumbnails/
/node_modules/
/wip/tts/

/assets/Textures/players/blackfish-brigade/
/assets/Textures/players/coral-cap-pirates/
/assets/Textures/players/leviathan/
/assets/Textures/players/shellfire-rebellion/

# production
/build
/lib

# local build for development
/dev
ttpgcfg.local.json
